<section>
    <div class="page-header intro-message">
        <h1>{{ vm.authentication.user.firstName }}'s Classes</h1>
    </div>
    <div class="spacing_above_list_of_classes">
        <div class="list_of_classes">
            <ul>
                <table class="table" ng-init="vm.findCourses()">
                    <tr>
                        <th class="firstRow">Code</th>
                        <th class="firstRow">Course Name</th>
                    </tr>
                    <tr ng-repeat="class in vm.userclasses | orderBy:'courseCode'">
                        <td> {{ class.courseCode }} </td>
                        <td> {{ class.name }} </td>
                        <!--button to delete item listed-->
                        <td>
                            <button class="btn btn-danger pull-right" id="deleteButton" type="button" ng-click="vm.deleteCourse(class)">
                                <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                <button type="button" ng-click="vm.addAllCourses()"> Save Changes </button>
            </ul>
        </div>
    </div>
    <div class="search_box">
        <h2 id="search_for_classes">Search For Classes</h2>
        <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Enter the course code or name" ng-model="query">
        </div>
        <table class="table">
            <tr>
                <th class="firstRow">Code</th>
                <th class ="firstRow">Course Name</th>
            </tr>
            <tr ng-repeat="myclass in vm.myclasses | filter:query | orderBy:'courseCode' | limitTo: 15" ng-click="addCourse(myclass)">
                <td> {{ myclass.courseCode }} </td>
                <td> {{ myclass.name }} </td>
                <td>
                    <button class ="btn" id="addButton" ng-click="vm.addCourse(myclass)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</section>
