<section data-ng-controller="HomeController">
    
    <!--if you are logged in, navigate it to chat-->
    <section data-ng-controller="HeaderController">
        <div class = "container" data-ng-hide="!authentication.user" >
            <p data-ng-init="getDefaultPage()"></p>
        </div>
    </section>

    <!--if you are not logged in-->
    <div data-ng-hide="authentication.user">
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="intro-message">
                                <div class ="logo">Study <img id="mainLogo" src="/modules/core/img/brand/logo-orange-gradient.png">Swamp</div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What is Study Swamp?</h2>
                        <p class="lead">Study Swamp is an application that allows you to communicate with other students in your classes. To get started, use the Sign Up page to create a Study Swamp account!</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive img1" src="/modules/core/img/brand/home-page-1.png" alt="Chatting Application">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">How do I find my classes?</h2>
                        <p class="lead">Once you have your account and subscribe for the current semester, you'll be able to easily search for your classes on our search page.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive img2" src="/modules/core/img/brand/home-page-2.jpg" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What's Next?</h2>
                        <p class="lead">Now that you have your classes, just navigate to the chat page to start connecting with your fellow classmates!</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/modules/core/img/brand/home-page-3.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <a  name="contact"></a>
        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Connect With Us:</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/groups/1475823732493169/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">FaceBook</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/feed/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->
    </div>

    <!-- Footer -->
    <footer>
        <div class="container" data-ng-controller="HeaderController">
            <div class="row">
                <div class="col-lg-12">
                   <!--Footer Links-->
                   <!-- <ul class="list-inline">
                        <li>
                            <a data-ng-click="getDefaultPage()">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>-->
                    <p class="copyright text-muted small">Copyright &copy; Study Swamp 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</section>
