<section data-ng-controller="HomeController">
  
  <!--if you are logged in-->
  <div class = "container" data-ng-hide="!authentication.user">
      <div>
          <h1 align ="center">Hello, {{authentication.user.firstName}}</h1>
      </div>
      <div class = "mainButton">
          <a data-ui-sref="chat">
              <button type="button" class="btn btn-outline-success mainbuttom">see my courses</button>
          </a>
          <a data-ui-sref="myclasses.list">
              <button type="button" class="btn btn-outline-success mainbuttom">add my courses</button>
          </a>
          <a data-ui-sref="news.list">
              <button type="button" class="btn btn-outline-success mainbuttom">News</button>
          </a>
      </div>
  </div>

  <!--if you are not logged in-->
  <div data-ng-hide="authentication.user">
      <div>
          <h1 align ="center">Welcome to StudySwamp</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2><strong>M</strong>ongoDB</h2>
          <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>E</strong>xpress</h2>
          <p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>A</strong>ngularJS</h2>
          <p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>N</strong>ode.js</h2>
          <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
        </div>
      </div>
  </div>

    <!-- footer -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
            <h6>Copyright &copy; Study Swamp 2017</h6>
            </div><!-- end col-sm-3 -->
            
            <div class="col-sm-7">
              <h6>About Study Swamp</h6>
              <p>We are Study Swamp...</p>
            </div><!-- end col-sm-7 -->
            
            <div class="col-sm-2">
              <h6>Follow Study Swamp</h6>
              
              <div class="row">
                <a  href="http://google.com"><img class = "socialMedia" ng-src="/modules/users/img/buttons/google.png" src="/modules/users/img/buttons/google.png"></a>
                <a href="http://facebook.com"><img class = "socialMedia" ng-src="/modules/users/img/buttons/facebook.png" src="/modules/users/img/buttons/facebook.png"></a>
                <a href="http://twitter.com"><img  class = "socialMedia" ng-src="/modules/users/img/buttons/twitter.png" src="/modules/users/img/buttons/twitter.png"></a>
              </div>
              
            </div><!-- end col-sm-2 -->
          </div><!-- end row -->
        </div>
    </footer>
</section>
