<section data-ng-controller="HomeController">
    <!--if you are logged in-->
    <div class = "container" data-ng-hide="!authentication.user">
        <div class="intro-message col-lg-12 col-md-12">
            <h1 align ="center">Hello, {{authentication.user.firstName}}</h1>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <a data-ui-sref="chat">
                    <button type="button" class="btn btn-outline-success mainbutton">See my courses:</button>
                </a>
                <a data-ui-sref="myclasses.list">
                    <button type="button" class="btn btn-outline-success mainbutton">Add my courses</button>
                </a>
                <a data-ui-sref="news.list">
                    <button type="button" class="btn btn-outline-success mainbutton">News and offers</button>
                </a>
                <a data-ui-sref="news.list">
                    <button type="button" class="btn btn-outline-success mainbutton">Coming-Soon :-)</button>
                </a>
            </div>
            <div class="col-lg-6">
                <p id="tempP" class="lead">Contrary to popular belief, <a target="_blank" href="https://outlook.office.com/owa/">To outlook UF mail</a> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                <img id="tempImg" src="/modules/core/img/brand/studyCswamp.jpeg">
            </div>
        </div>
    </div>

    <!--if you are not logged in-->
    <div data-ng-hide="authentication.user">
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <img id="mainLogo" src="/modules/core/img/brand/C.jpeg">
                            <h1>Welcome to Study Swamp</h1>
                            <h3>Where the communications begins</h3>
                            <hr class="intro-divider">
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="https://outlook.office.com/owa/" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-envelope"></i> <span class="network-name">Outlook</span></a>
                                </li>
                                <li>
                                    <a href="https://one.uf.edu/dashboard/" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-leaf"></i> <span class="network-name">One UF</span></a>
                                </li>
                                <li>
                                    <a href="http://elearning.ufl.edu/" class="btn btn-default btn-lg"><i class="fa fa-ge fa-fw"></i> <span class="network-name">e-Learning</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Where does it come from?:<br>Special Thanks</h2>
                        <p class="lead">Contrary to popular belief, <a target="_blank" href="https://outlook.office.com/owa/">To outlook UF mail</a> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/modules/core/img/brand/ipad.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                        <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="/modules/core/img/brand/dog.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/modules/core/img/brand//phones.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <a  name="contact"></a>
        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Connect to Study Swamp:</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">FaceBook</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/feed/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->
    </div>

    <!-- Footer -->
    <footer>
        <div class="container" data-ng-controller="HeaderController">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <!--<a href="#">Home</a>-->
                            <a data-ng-click="getDefaultPage()">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Study Swamp 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</section>
