@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.campusAllyLogo{
  /* height: 5%; */
  /* width:  5%;   */
  padding-left: 46%;
}
.socialMedia{
  width: 32px !important;
  height: 32px !important;
}

.list_of_users{
  font-size: 25px;
  border: solid #FFF 1px;
  border-top: none;
}

/*CSS for List of Users Page*/
.users-list{
  padding: 0px;
}

.intro-message{
  padding-top: 1%;
  padding-bottom: 1%;
}

.user-table{
  padding-left: 0px;
  padding-right: 0px;
}

.list-group-item{
  border-bottom: solid #FFF 1px;
}

.pagination{
  padding-left: 53px;
  margin-top: 10px;
}

.pagination > li > a, .pagination > li > a:hover{
  color: #af7336;
}


.edit-btn:hover{
  color: white;
  background-color: #408BCB;
}

.edit-btn{
  border: none;
  color: white!important;
  text-shadow: none!important;
  font-size: 20px;
  padding: 8px 14px;
}


.username{
  margin-bottom: 25px;
  font-size: 55px;
  color: #FFF;
}

.vertical-align{
  padding-top: 10px;
}

.dataWrapper{
  padding: 30px;
  border-radius: 10px;
  background-color: #d8bb88;
  box-shadow: 5px 5px 20px;
}

/*Edting User's Information Page*/
.edit-user{
  padding-top: 35px;
}

.formWrapper{
  padding: 30px;
  border-radius: 10px;
  background-color: #04B4E7;
}

.inputs{
  padding-left: 30px;
  padding-right: 30px;
}

.page-header{
  border: none;
}

.table-list{
  border-bottom: solid 2px #FFF;
}

/* Settings */
.settings-menu{
  margin-left: 30px;
  background-color: rgba(000,000,000,0.5)!important;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

#settings{
  margin-left: 20px;
}

#h1-settings{
  color: white;
}

.links{
  color: #af7336!important;
  background: none;
}

.links:hover {
  color: #FFF!important;
  background: none!important;
}

.nav-pills > li.active > a{
  background-color: #FFF!important;
}

.nav-pills > li.active > a:hover{
  color: #af7336!important;
}

/*Sign In Page*/
#mainLogo{
  width: 10%;
  padding: 0px;
}

.logo{
  color: #af7336;
  font-size: 50px;
}


.intro-header{
  padding-top: 20px;
}

.h1-sign-in{
  font-size: 30px;
  margin-top: 0px;
  color: white;
}

.sign-in{
  padding-bottom: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.form-horizontal .form-group{
  color: white;
  margin-right: 38px;
  padding-left: 15px;
  padding-right: 15px;
}

.sign-up{
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-group input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(238, 238, 238, 0.53);
  box-shadow: none!important;
  color:white;
}

.form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
.form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
.form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
.form-group input:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}
.forgot-password {
  padding-top: 20px;
}