@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.campusAllyLogo{
  /* height: 5%; */
  /* width:  5%;   */
  padding-left: 46%;
}
.socialMedia{
  width: 32px !important;
  height: 32px !important;
}

.list_of_users{
  font-size: 25px;
  border: solid #FFF 1px;
  border-top: none;
}

/*CSS for List of Users Page*/
.users-list{
  padding: 0px;
}

.intro-message{
  padding-top: 1%;
  padding-bottom: 1%;
}

.user-table{
  padding-left: 0px;
  padding-right: 0px;
}

.list-group-item{
  border-bottom: solid #FFF 1px;
}

.pagination{
  padding-left: 53px;
  margin-top: 10px;
}

.pagination > .active > a, .edit-btn{
  background-image: linear-gradient(to bottom, #af7336 0%, #7a492c 100%);
  border-color: #af7336;

}

.pagination > .active > a:hover{
  border-color:  #af7336;
}

.btn-outline-success, .btn-outline-success:hover, .edit-btn:active, .edit-btn:visited, .edit-btn:focus{
  background-image: linear-gradient(to bottom, #af7336 0%, #7a492c 100%)!important;
  border-color: #af7336!important;
}

.edit-btn:hover{
  color: white;
  background-color: #7a492c;
  border-color: #7a492c;
}

.edit-btn{
  background-image: linear-gradient(to bottom, #af7336 0%, #7a492c 100%);
  border-color: #af7336;
  color: white!important;
  text-shadow: none!important;
}

.edit-btn:hover{
  color: white;
  background-color: #7a492c;
  border-color: #7a492c;
}


.edit-btn{
  margin-right: 10px;
}

.username{
  margin-bottom: 25px;
  font-size: 55px;
  color: #FFF;
}

.vertical-align{
  padding-top: 10px;
}

.dataWrapper{
  padding: 30px;
  border-radius: 10px;
  background-color: #d8bb88;
  box-shadow: 5px 5px 20px;
}

/*Edting User's Information Page*/
.edit-user{
  padding-top: 35px;
}

.formWrapper{
  padding: 30px;
  border-radius: 10px;
  background-color: #d8bb88;
  box-shadow: 5px 5px 20px;
}

.inputs{
  padding-left: 30px;
  padding-right: 30px;
}

.page-header{
  border: none;
}

.table-list{
  border-bottom: solid 2px #FFF;
}