.myclasses-heading{
  text-align: center;
}
.class-list {
  list-style: none;
  margin-left: -40px;
  margin-top: 35px;
}

.class-list li {
  border-bottom: 1px solid #eee;
}

.class-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.class-list li.active a {
  background-color: #f1f5fc;
}

.class-list li a .class-name,
.class-list li a .class-name:hover {
  color: #777;
}

small, .small {
  font-size: 85%;
}

.chat-message:not(:first-child) {
  border-top: 2px solid #e7e7e7;
}
.chat-message-details {
  margin-left: 10px;
}
.chat-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.messageWrapper{
  max-height: 394px;
  overflow: auto;
}

.bg-white {
  background-color: #fff;
}
.chat-message {
  padding: 60px 20px 115px;
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-message{
  background: #f9f9f9;
}

.chat div img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat div.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat div .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat div .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
  margin-top: 0px;
}

.chat div .chat-body span {
  margin: 0;
}

.chat div.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.chat div.left .header{
  margin-left: 1px;
}

.chat div.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #d8ffda;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat div {
  margin: 15px 0;
}

.chat div.right .chat-body {
  margin-right: 70px;
  background-color: #d8ffda;
}

.chat-box {
  width: auto;
  position: fixed;
  bottom: 0;
  left: 450px;
  right: 70px;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

