body{
  height: 600px!important;
}

.myclasses-heading{
  text-align: center;
}
.class-list {
  list-style: none;
  margin-left: -40px;
  margin-top: 35px;
}

.class-list li {
  border-bottom: 1px solid #FFF;
}

.class-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.class-list li.active a {
  background-color: #f1f5fc;
}

.class-list li a .class-name,
.class-list li a .class-name:hover {
  color: #777;
}

small, .small {
  font-size: 85%;
}

.chat-message:not(:first-child) {
  border-top: 2px solid #e7e7e7;
}
.chat-message-details {
  margin-left: 10px;
}
.chat-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}


.chat-page{
  max-height: 571px!important;
  height: 571px!important;
  overflow: auto;
  background-color: #d8bb88;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;

}
.hover-classes:hover{
  cursor: pointer;
}

.messageWrapper{
  height: 490px;
  max-height: 490px;
  overflow: auto;
  box-shadow: 5px 5px 20px;
  background-color: #f9f9f9;
}

.rounded-top-corners{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px!important;
  overflow: hidden;
  box-shadow: 5px 5px 20px;
}

.bg-white {
  background-color: #fff;
}
.chat-message {
  padding: 45px 20px 11px;
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-message{
  background: #f9f9f9;
}

.chat div img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chat div.left .chat-body {
  margin-left: 70px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #fff;
}

.chat div .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat div .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
  margin-top: 0px;
}

.chat div .chat-body span {
  margin: 0;
}

.chat div.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  margin: 0px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.chat div.left .header{
  margin-left: 1px;
}

.chat div {
  margin: 15px 0;
}

.chat div.right .chat-body {
  margin-right: 0px;
  margin: 0px;
  background-color: #d8bb88;
}

.chat-box {
  float: right;
  padding: 15px;
  width: 100%;
  height: 81px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  box-shadow: 5px 5px 20px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.primary-font {
  color: #af7336;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.btn-success{
  background-image: linear-gradient(to bottom, #af7336 0%, #7a492c 100%);
  border-color: #7A492C;
  height: 46px;!important;
}

.btn-success:hover, .btn-success:focus {
  background-color: #7A492C;
  border-color: #7A492C;
  background-position: 0 -15px;
}

.custom-class{
  background-color: #af7336;
}

.custom-class:hover{
  cursor: pointer;
}

.noMessages{
  text-align: center;
  margin-top: 25%;
  width: 50%;
  margin-left: 25%;
}

.noClasses{
  padding-top: 40px;
  text-align: center;
}

.send{
  max-width: 602px;
  height: 46px!important;
  max-height: 300px;
  border: 1px solid #333333;
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}

textarea,
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.expandingArea {
  position: relative;
  background: #fff;
}

.expandingArea > textarea{
  background: transparent;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}
.expandingArea > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: hidden;
  /* This height is used when JS is disabled */
}
.expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

