<section>
    <div class="col-md-8 col-md-offset-2 page-header">
        <div class="intro-message">
           <h1>Users</h1>
        </div>
    </div>
    <div class ="col-md-8 col-md-offset-2 user-table">
        <div class="input-group users-list" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search for users" data-ng-model="search" ng-change="figureOutItemsToDisplay()" />
        </div>
            <div class="list_of_users list-group">
                <a data-ng-repeat="user in pagedItems" data-ui-sref="admin.user({userId: user._id})" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="user.username"></h4>
                <p class="list-group-item-text" data-ng-bind="user.email"></p>
                </a>
            </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</section>
