<section>
    <div class="page-header">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="intro-message">
                    <h1>Users</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-top: 3.2em">
                <input class="form-control col-md-4" type="text" data-ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
        </div>
    </div>
    <div class="list_of_users list-group col-lg-10 col-md-10">
        <a data-ng-repeat="user in pagedItems" data-ui-sref="admin.user({userId: user._id})" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="user.username"></h4>
            <p class="list-group-item-text" data-ng-bind="user.email"></p>
        </a>
    </div>
    <div class="page-header col-lg-12 col-md-12">
        <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</section>
