<section>
    <div class="col-md-6 col-md-offset-3">
        <h1 data-ng-bind="user.username" class="username"></h1>
    </div>

    <div class="col-md-6 col-md-offset-3 dataWrapper">
      <div class="row">
        <div class="col-md-3 vertical-align"><strong>First Name</strong></div>
        <div class="col-md-6 vertical-align" data-ng-bind="user.firstName"></div>
        <div class="col-md-3">
          <a class="btn btn-primary edit-btn" data-ui-sref="admin.user-edit({userId: user._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-danger" data-ng-click="remove();" ng-if="user._id !== authentication.user._id">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" data-ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" data-ng-bind="user.email"></div>
      </div>
      <hr/>
      <!--<div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" data-ng-bind="user.provider"></div>
      </div>
      <hr/>-->
      <div class="row">
        <div class="col-md-3"><strong>Created On</strong></div>
        <div class="col-md-6" data-ng-bind="user.created | date:'short'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Role</strong></div>
        <div class="col-md-6" data-ng-bind="user.roles"></div>
      </div>
    </div>
</section>
