.page-header{
    text-align:center;
}

.list_of_classes{
    margin: 0 auto;
    font-size: 25px;
    width: 60%;
    border: solid #333 2px;
}

.list_of_classes a{
    border-bottom: solid green 2px;
    display: block;
    padding: 10px;
}

.list_of_classes ul{
    padding-left: 20px;
    padding-right: 20px;
}
.list_of_classes .glyphicon{
    font-size: 20px;
    float: right;
}
#deleteButton{
    padding-top: 9px;
    padding-bottom: 9px;
}

.search_box{
    margin: 100px auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #333;
    width: 60%
}

.search_box h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-control:focus {
    outline: none !important;
    box-shadow: 0 0 5px green;
}

.btn .glyphicon-plus{
    color: #333;
}

#addButton{
    background: white;
}
#addButton:hover{
    opacity: 10;
    background-color: #d4d4d4;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.spacing_above_list_of_classes{
    margin-top: 50px;

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 1px solid white;
}

.firstRow{
    border-top: none !important;
    padding-top: 13px !important;
}