.intro-message{
    margin-top: 0px;
}

.list-group-item{
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.list-group-item:hover{
    background-color: #D8D8D8!important;
    border-color: #D8D8D8!important;
}

h2{
    padding-bottom: 5px;
}

.view-news{
    border-bottom: none;
}

.news-article{
    background-color: #F5F5F5;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.text-area{
    height: 250px!important;
}

.buttons{
    margin-top: 10px;
    margin-right: 10px;
}

.news-list{
    margin-bottom: 7px;
    border-bottom: none!important;
}
.list-group-item-heading{
    font-size: 24px;
}
.list-group-item-subheading{
    font-size: 16px;

}