<!-- The chat view -->
<section class="container" data-ng-controller="ChatController">
    <div class="pageWrapper">
    <!--User's List of Classes on the Left -->
    <div class="col-md-4 classesWrapper chat-page">
        <div class="row border-bottom padding-sm" style="height: 40px;">
            <h2 class="myclasses-heading">My Classes</h2>
        </div>
    <!--If there are no classes in a user's list -->
    <div class="class-list" ng-init="getAllCourses()" ng-show="!checkClassesArray()">
      <ul>
        <table class="table">
          <tr>
              <th class="col-sm-4">Course Code</th>
              <th class="col-sm-8">Course Name</th>
          </tr>
          <tr data-ng-repeat="class in classes | orderBy:'courseCode'" ng-click = "retrieveSelectedChat(class)" ng-init = "setDefaultClassId(class)" 
              ng-class = "{'custom-class': class.classId == currentlySelectedClassID}" class="hover-classes" onclick="isReloaded()">
              <td>{{ class.courseCode }}</td>
              <td>{{ class.name }}</td>
          </tr>
        </table>
      </ul>
      </div>
      <div class="noClasses" ng-show="checkClassesArray()">
          Add your classes by going <br /> to the "My Classes" Tab!
      </div>
    </div>

    <div class="col-md-8">
    <!--=========================================================-->
    <!-- List All Messages on the Right -->
        <div class="rounded-top-corners">
        <div class="bg-white messageWrapper" id="messages">
        <div class="chat-message scrollToBottom" id="chatScrolling">
            <!--If there are no messages display this div -->
            <div class="noMessages" ng-show="checkMessageArray()">
                Start the conversation by sending a message below!
            </div>
          <ul class="chat">
            <li data-ng-repeat="message in messages">
              <!--if they are not the user display on the left-->
              <div class="left clearfix" ng-show = "message.username != UserName">
                  <span class="chat-img pull-left">
                      <img data-ng-src="{{message.profileImageURL}}" alt="{{message.username}}" />
                  </span>
                  <div class="chat-body clearfix">
                      <div class="header">
                            <strong class="primary-font" data-ng-bind="message.username"></strong>
                            <small class="pull-right text-muted" data-ng-bind="message.created | date:'short'"></small>
                      </div>
                            <span data-ng-bind="message.message"></span>
                  </div>
              </div><!-- end of left -->
                        <!--if they are the user display on the left-->
                <div class="right clearfix" ng-show = "message.username == UserName">
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font" data-ng-bind="message.username"></strong>
                             <small class="pull-right text-muted" data-ng-bind="message.created | date:'short'"></small>
                        </div>
                            <span data-ng-bind="message.message"></span>
                    </div>
               </div> <!-- end of right -->
            </li>
        </ul>
      </div>
    </div>
        </div>

    <!--=========================================================-->
    <!-- Send Messages -->
    
    <div class="chat-box bg-white col-md-4" ng-show="!checkClassesArray()">
        <form ng-submit="sendMessage();">
            <div class="input-group">
                <!--<input type="text" name="messageText" class="form-control border no-shadow no-rounded" data-ng-model="messageText" placeholder="Type your message here">
                -->
                <div class="expandingArea">
                    <textarea id="textArea" name="messageText" class="form-control border no-shadow no-rounded send" data-ng-model="messageText" placeholder="Type your message here" ></textarea>
                </div>
                <span class="input-group-btn">
              <button id="sendMessageButton" class="btn btn-success no-rounded" type="submit" onclick="messageSent()" >Send</button>
            </span>
            </div>
        </form>
    </div>
   <!-- disable the button if there is no classese selected -->
    <div class="chat-box bg-white col-md-4" ng-show="checkClassesArray()">
        <form ng-submit="sendMessage();">
            <div class="input-group">
                <!--<input type="text" name="messageText" class="form-control border no-shadow no-rounded" data-ng-model="messageText" placeholder="Type your message here">
                -->
                <div class="expandingArea">
                    <textarea name="messageText" class="form-control border no-shadow no-rounded send" data-ng-model="messageText" placeholder="select a class to chat!" disabled ></textarea>
                </div>
                <span class="input-group-btn">
              <button class="btn btn-success no-rounded" type="submit" disabled>Send</button>
            </span>
            </div>
        </form>
    </div>
    </div>
    </div>
    <script>
      //Script for scrolling the chats to the bottom of their divs.
      var scrolled = false;
      var reloaded = false;
      var sentMessage = false;

      function messageSent(){
          sentMessage = true;
      }

       //if a user hasn't scrolled up or a chat was reloaded, scroll to the bottom
       function updateScroll(){
           if(!scrolled || reloaded || sentMessage) {
               var element = document.getElementById('messages');
               element.scrollTop = element.scrollHeight;
           }
           reloaded = false;
       }
      //if user switches chat, reset the scroll
      function isReloaded(){
          reloaded = true;
      }
       //set scrolled to true is a usesr has scroll up to see older messages
        $('#messages').on('scroll', function(){
           scrolled = true;
        });

      //run the function every second.
       setInterval(updateScroll, 1000);

       //JS for textarea send message, sends message when a user presses enter in the text area
      var textarea = document.getElementById("textArea");

      try {
          textarea.addEventListener("keydown", keyPress, false);
      } catch (e) {
          textarea.attachEvent("onkeydown", keyPress);
      }

      function keyPress(e) {
          if (e.keyCode === 13) {
            //e.preventDefault();
            document.getElementById('sendMessageButton').click();
          }
      }

    </script>
</section>
