<div data-ng-controller="AuthenticationController">
    <div class= "container">
        <div class="intro-header">
            <div class="intro-message">
                <div class ="logo">Study <img id="mainLogo" src="/modules/core/img/brand/logo-orange-gradient.png">Swamp</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 formWrapper" id="sign-in">
        <h1 class="text-center h1-sign-in">Sign in</h1>
        <div class="">
            <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control"
                               data-ng-model="credentials.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               data-ng-model="credentials.password" placeholder="Password">
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary edit-btn">Sign in</button>
                    </div>
                    <div class="text-center forgot-password">
                        <a data-ui-sref="password.forgot">Forgot your password?</a>
                    </div>
                    <alert type="danger" data-ng-show="error" class="text-center text-danger">
                        <span data-ng-bind="error"></span>
                    </alert>
                </fieldset>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="container" data-ng-controller="HeaderController">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <!--<a href="#">Home</a>-->
                        <a data-ng-click="getDefaultPage()">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Study Swamp 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</div>
