/* Google Fonts*/
/*@import url(http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400italic,700italic,400,700)*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

/*From landing page template*/
body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-weight: 500;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body{
    font-size: 15px;
}

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

p.copyright {
    margin: 15px 0 0;
}

a {
    text-decoration: none;
}
a:hover{
    color: #FFFFFF;
}



.form-control:focus{
    border-color: #697137;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 500;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    color: white;
}

.pageWrapper{
    margin-top: 45px;
}

.table > tbody > tr > td, .table > tbody > tr > th{
    border-top: 1px solid #FFF!important;
    border-bottom: 1px solid #FFF !important;
}

#mainLogo {
    max-width: 20%;
    padding-bottom: 5%;
}

#tempImg {
    max-width: 93%;
    margin-bottom: 25px;
}

#tempP {
    width: 95%;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}



@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #FFFFFF;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #F5F5F5;
}

.section-heading {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: black;
    background-color: #F5F5F5;
    /*background: url(../img/banner-bg.jpg) no-repeat center center;*/
    background-size: cover;
}

.banner h2 {
    margin: 0;
    font-size: 30px;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #02a4d1;
}

/*End of css template*/

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: black;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

h1 {
  font-size: 80px;
  text-align: center;
}

.mainbutton{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  margin-left: 30px;
    margin-bottom: 10px;
  background-color: #d8ffda;
}

.navbar-inverse, footer{
    background-color: #04B4E7!important;
    border-bottom: none!important;
}


.btn-danger{
    background-image: linear-gradient(to bottom, #697137 0%, #414622 100%);
    border-color: #414622;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus{
    border-color: #414622;
    background-color: #414622;
}

.btn-default:focus{
    background-position: 0 0;
}

.btn-primary:focus{
    background-position: 0 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: 5px auto #414622;
}

.dropdown-menu > .active > a,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover{
    background-color: #FFF!important;
    background-image: none;
    color: #af7336;
}

.img1{
    border-radius: 5px;
    width: 80%;
}

.img2{
    border-radius: 10px;

}

/*nav bar*/
.swamp-link:hover{
    cursor: pointer;
    color: black!important;
    background-color:#23D7FF!important;
    transition: 0.35s;
}

.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */

.icon-social {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 3px;
    opacity: 0.85;
    filter: alpha(opacity=90);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.icon-linkedin-squared {
    background-color: #00749c;
}
.icon-facebook-official {
    background-color: #2C50A9;
}
.icon-twitter {
    background-color: rgba(46,175,255,0.84);
}

.tempo-social {
    padding: 30px 0px;
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}